 
.header {
  overflow: hidden;
  background-color: Black ;
  padding: 15px 10px;
}

 
.header a {
  float: left;
  color: Violet  ;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  border-radius: 4px;
}

 
.header a:hover {
  background-color: black;
  color: White;
}


.header a.active {
  background-color:  black ;
  color: #30a247 ;
}

 
.header-right {
  float: right;
}

  * {
  font-family: Arial, Helvetica, sans-serif;
}
 
}
 .btn-toggle:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.btn-toggle:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn-toggle:active {
	background-color:  #000000;
}
.btn-toggle:disabled {
	background-color: #eee;
	border-color: #eee;
	color: #444;
	cursor: not-allowed;
}
  
   .animated_rainbow_1 {
	font-size: 42px;
	font-family: Arial Black, Gadget, sans-serif;
	background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
	-webkit-animation: animatedBackground_a 5s linear infinite alternate;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
	background-clip: text;  
    text-align: center;
  
} 

@keyframes animatedBackground_a {
	0% { background-position: 0 0 }
	100% { background-position: -500px 0 }

}
 
   
}
.css-button:hover {
	background: linear-gradient(180deg, #468CCF 10%, #63B8EE 100%);
}
.css-button-text {
	position: relative;
	display: inline-block;
    
}  

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:;
  color: MidnightBlu;
  text-align: center;
}


    .center {
  text-align: center;
}

h2 {
    font-family: Geneva, Arial, Helvetica, sans-serif;
   } 
   p {
    font-family: Georgia, 'Times New Roman', Times, serif;
   }
   
   
body {
  font-size: 1.2rem;
}

 
h1{
  font-size: 3rem;
}

   .outer {
    border: 1px solid blue;
}
  
  html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: 'after';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background:transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left:0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

  div {
  text-align: center;
}

  #output video {
        width: 50%;
      }
      #progressBar {
          height: 5px;
          width: 0%;
          background-color: #35b44f;
          transition: width .4s ease-in-out;
      }
      body.is-seed .show-seed {
          display: inline;
      }
      body.is-seed .show-leech {
          display: none;
      }
      .show-seed {
          display: none;
      }
      #status code {
          font-size: 90%;
          font-weight: 700;
          margin-left: 3px;
          margin-right: 3px;
          border-bottom: 1px dashed rgba(255,255,255,0.3);
      }

      .is-seed #hero {
          background-color: #154820;
          transition: .5s .5s background-color ease-in-out;
      }
      #hero {
          background-color: #2a3749;
      }
      #status {
          color: #fff;
          font-size: 17px;
          padding: 5px;
      }
      a:link, a:visited {
          color: #30a247;
          text-decoration: none;
      }
   
   
    
     * {border: 0; margin: 0; padding: 0;}
a {color: #fff; text-decoration: none;}
a:focus, a:hover {text-decoration: underline;}
body, html {background-color: #000; color: #ccc; font-size: 1em; text-align: center;}
button, input, select, textarea {background-color: #000; border: 1px solid #777; color: #ccc; padding: 0 2px;}
button:focus, button:hover, input:focus, input:hover, select:focus, select:hover, textarea:focus, textarea:hover {border-color: #fff;}
label {border: 1px dotted #777; padding: 0 2px; margin-left: 4px;}
label:hover {border-style: solid;}
p {margin: 16px;}
video {border: 1px solid #777; border-radius: 4px; width: 40%;}
.flex {align-content: center; display: flex; justify-content: center;}
   
}
  
