 
.header {
  overflow: hidden;
  background-color: ;
  padding: 15px 10px;
}

 
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  border-radius: 4px;
}

 
.header a:hover {
  background-color: #ddd ;
  color: black;
}


.header a.active {
  background-color: dodgerblue;
  color: white ;
}

 
.header-right {
  float: right;
}

  * {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  color: #222	;
  background: #fff;
}

a {
  color: #0033cc;
}

 
body.dark-theme {
  color:#eee ;
  background: #121212;
}

body.dark-theme a {
  color: #809fff;
}
.btn-toggle {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 3px;
	margin: 0 10px 10px 0;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	height: 45px;
	line-height: 15px;
	font-size: 45px;
	font-weight: 600;
	text-decoration: none;
	color: ##00FF00	;
	background-color: #fff;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
    
}

.btn-toggle:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.btn-toggle:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn-toggle:active {
	background-color:  #000000;
}
.btn-toggle:disabled {
	background-color: #eee;
	border-color: #eee;
	color: #444;
	cursor: not-allowed;
}
  
   .animated_rainbow_1 {
	font-size: 42px;
	font-family: Arial Black, Gadget, sans-serif;
	background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
	-webkit-animation: animatedBackground_a 5s linear infinite alternate;
	-webkit-background-clip: text;
	-webkit-text-fill-color: #0000;
	background-clip: text;  
    text-align: center;
  
} 

@keyframes animatedBackground_a {
	0% { background-position: 0 0 }
	100% { background-position: -500px 0 }

}
 
   
}
.css-button:hover {
	background: linear-gradient(180deg, #468CCF 10%, #63B8EE 100%);
}
.css-button-text {
	position: relative;
	display: inline-block;
    
}  

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:;
  color: MidnightBlu;
  text-align: center;
}
   [data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
   }
   [data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    width: 300px; /* Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
   } 
   [data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
   }
   
    .center {
  text-align: center;
}

h2 {
    font-family: Geneva, Arial, Helvetica, sans-serif;
   } 
   p {
    font-family: Georgia, 'Times New Roman', Times, serif;
   }
   
   
body {
  font-size: 1.2rem;
}

 
h1{
  font-size: 3rem;
}

   .outer {
    border: 1px solid blue;
}
  
  
   
}
 

  
